.plantas-margin{margin-top: 37px;}
.catalogo{margin-top: 40px;}

.d-flex-mod > a{
    background-color: rgb(25, 135, 84) !important;
    color: white !important;
    
}

.navbar-brand{
    color: rgb(255, 255, 255, 100) !important ;
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(255, 255, 255, 100) !important ;
}

/*a.navbar-light a.navbar-nav a.nav-link:hover, a.navbar-light a.navbar-nav a.nav-link:focus {
    color: rgb(255, 255, 255, 100) !important ;
}*/


.row{
    justify-content: center;
}

/**  Footer ***/

footer
{
    background-color: rgb(25, 135, 84) !important;
}